<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/create.css">
    <title>Document</title>
</head>
<h1>
<a style="color:yellow"  href="/dashboard">Home</a>
<a style="color:yellow"  href="/logout">Logout</a>
<a style="color:yellow"  href="/create">Class Select</a>
</h1>
<body style="background-color:black">
    <table>
        <tr>
            <img style="margin: 50px; height: 200px; width:225px" src="/static/images/assassinex.jpg" alt="Assassin">
            <img style="margin: 50px; height: 200px; width:225px" src="/static/images/marksmanex.jpg" alt="Marksman">
            <img style="margin: 50px; height: 200px; width:225px" src="/static/images/thiefex.jpg" alt="Thief">
        </tr>
        <tr id="exrogue">
            <td style="padding-left:120px">Assassin</td>
            <td style="padding-left:275px">Marksman</td>
            <td style="padding-left:245px">Thief</td>
        </tr>
    </table>
    <div id="rspec">
        <h3 style="color:yellow; width:250px;">In Dungeons and Dragons, an assassin specialized rogue is a master of
            stealth and deception, specializing in taking down high-value targets with precision and efficiency. They
            are experts at blending into crowds, tracking their targets, and striking from the shadows with deadly
            force.

            Assassin rogues often have a range of deadly abilities at their disposal, including poison and sneak
            attacks, making them lethal opponents in combat. They also have a variety of skills that allow them to
            manipulate their environment, such as lock picking and trap disarming, allowing them to gain access to their
            targets and escape undetected.</h3>

        <h3 style="color:yellow; width:250px; padding-left:75px;">In Dungeons and Dragons, a marksman specialized rogue is a highly skilled
            and lethal ranged combatant, capable of taking out enemies with deadly precision from a distance. These
            rogues specialize in using ranged weapons such as bows, crossbows, and firearms to deal massive damage to
            their enemies, often striking from hidden vantage points or cover.

            Marksman rogues have honed their skills in accuracy, and their proficiency in ranged weaponry allows them to
            inflict critical damage on their foes. Additionally, they often possess unique abilities that allow them to
            gain an edge in combat, such as the ability to shoot multiple targets at once, fire shots that ignore armor,
            or even attack with poisoned ammunition.</h3>
            <h3 style="color:yellow; width:250px; padding-left:75px;">In Dungeons and Dragons, a thief specialized rogue is a master of stealth and deception, specializing in acquiring valuable items and information through guile and cunning. These rogues are experts at picking locks, disarming traps, and sneaking past guards, allowing them to gain access to secured areas and acquire valuable treasures.

                Thief rogues have a variety of abilities that allow them to outmaneuver their opponents and avoid danger. They possess a natural talent for deception, able to convincingly lie and mislead their enemies with ease. They also have a knack for reading people, allowing them to discern their intentions and identify their weaknesses.</h3>
    </div>
</body>

</html>