<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/create.css">
    <title>Document</title>
</head>
<h1>
    <a style="color:black" href="/dashboard">Home</a>
    <a style="color:black" href="/logout">Logout</a>
    <a style="color:black" href="/create">Class Select</a>
    </h1>
<body style="background-color: darkred;">
    <table>
        <tr>
            <img style="margin: 50px; height: 200px; width:225px" src="/static/images/berserkerex.jpg" alt="Berserker">
            <img style="margin: 50px; height: 200px; width:225px" src="/static/images/tankex.jpg" alt="Tank">
            <img style="margin: 50px; height: 200px; width:225px" src="/static/images/fighterex.jpg" alt="Fighter">
        </tr>
        <tr>
            <td style="padding-left:120px">Berserker</td>
            <td style="padding-left:275px">Tank</td>
            <td style="padding-left:245px">Fighter</td>
        </tr>
    </table>
    <div id="wspec">
        <h3 style="color:black; width:250px;">In Dungeons and Dragons, a berserker specialized warrior is a ferocious and fearsome combatant, specializing in unleashing devastating attacks upon their foes. These warriors are known for their explosive strength and incredible endurance, allowing them to shrug off injuries and continue fighting long after other warriors would have fallen.

            Berserker warriors are often characterized by their ability to enter a frenzied state in combat, becoming consumed by rage and unleashing a flurry of devastating attacks upon their enemies. This state of fury can make them incredibly dangerous, as they become almost impervious to pain and able to deal massive amounts of damage to their opponents.</h3>

        <h3 style="color:black; width:250px; padding-left:75px;">In Dungeons and Dragons, a tank specialized warrior is a stalwart defender, specializing in soaking up damage and protecting their allies from harm. These warriors are often heavily armored and incredibly tough, able to withstand even the most punishing attacks from their enemies.

            Tank warriors are characterized by their ability to draw the attention of their enemies, using their imposing presence and combat abilities to intimidate and control their opponents. They may use shields or other defensive equipment to protect themselves and their allies, and often have abilities that allow them to absorb damage or redirect attacks away from their teammates.</h3>
            <h3 style="color:black; width:250px; padding-left:75px;">In Dungeons and Dragons, a fighter specialized warrior is a versatile and adaptable combatant, specializing in a wide range of weapons and fighting styles. These warriors are often highly skilled in melee combat, possessing a deep understanding of weapons and armor, and are able to adapt their tactics to suit any situation.

                Fighter warriors are often characterized by their intense training and discipline, honing their skills through years of practice and combat experience. They may specialize in a particular weapon, such as swords or axes, or they may be proficient in a variety of weapons and tactics.
                
                </h3>
    </div>
</body>
</html>