<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/create.css">
    <title>Document</title>
</head>
<h1>
    <a style="color:orange" href="/dashboard">Home</a>
    <a style="color:orange" href="/logout">Logout</a>
    <a style="color:orange" href="/create">Class Select</a>
</h1>

<body style="background-color:blueviolet">
    <table>
        <tr>
            <img style="margin: 50px; height: 200px; width:225px" src="/static/images/firemageex.jpg" alt="Fire Mage">
            <img style="margin: 50px; height: 200px; width:225px" src="/static/images/icemageex.jpg" alt="Ice Mage">
            <img style="margin: 50px; height: 200px; width:225px" src="/static/images/lightningmageex.jpg"
                alt="Lightning Mage">
        </tr>
        <tr>
            <td style="padding-left:120px; color:orange">Fire Mage</td>
            <td style="padding-left:275px; color:orange">Ice mage</td>
            <td style="padding-left:245px; color:orange">Lightning Mage</td>
        </tr>
    </table>
    <div id="mspec">
        <h3 style="color:orange; width:250px; padding-left:10px;">In Dungeons and Dragons, a fire specialized mage is a
            spellcaster who has mastered the art of manipulating flames and heat. These mages are often highly
            intelligent and studious, spending years studying the arcane arts in order to master the complex spells
            required to control the elements of fire.

            Fire mages are characterized by their ability to unleash devastating blasts of flame, incinerating their
            enemies and setting the battlefield ablaze. They may also use their powers to create walls of fire or
            conjure up fiery creatures to fight alongside them.</h3>
        <h3 style="color:orange; width:250px; padding-left: 62px">In Dungeons and Dragons, an ice specialized mage is a spellcaster who has
            mastered the art of manipulating cold and ice. These mages are often highly intelligent and studious,
            spending years studying the arcane arts in order to master the complex spells required to control the
            elements of ice and cold.

            Ice mages are characterized by their ability to freeze their enemies in place, creating icy barriers or
            conjuring blasts of frigid air to slow or immobilize their opponents. They may also use their powers to
            create ice constructs, such as golems or walls, that can protect themselves and their allies from harm.</h3>


        <h3 style="color:orange; width:250px; padding-left:75px;">In Dungeons and Dragons, a lightning specialized mage
            is a spellcaster who has mastered the art of manipulating electricity and lightning. These mages are often
            highly intelligent and studious, spending years studying the arcane arts in order to master the complex
            spells required to control the elements of lightning.

            Lightning mages are characterized by their ability to unleash bolts of electricity, striking their enemies
            with deadly precision and frying their opponents with intense currents of energy. They may also use their
            powers to create storms of lightning or conjure up lightning-based creatures to fight alongside them.</h3>
    </div>
</body>

</html>