<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show</title>
    <link rel="stylesheet" href="./static/create.css">
</head>
<body>
    <img src="/static/images/map.jpg" alt="Background Image" class="background-image">
    <h1> Welcome Adventurer {{session['user_name']}}! </h1>
    <a href="/create">Create Character</a> <a href="/logout"></a>
    <div>
        <h1>All characters</h1>
        <tbody>
            {% for character in characters %}
            <tr>
                <td>{{ character.first_name }}</td>
                <td>{{ character.last_name }}</td>
                <td>{{ character.age }}</td>
                <td>
                    <a href="/inspect/{{ character.id }}">Inspect</a>
                    <a href="/edit_d/{{ character.id }}">Edit</a> |
                    <a href="/destroy/{{ character.id }}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
    
</body>
</html>